/*  SET ALL ELEMENTS TO BOX-SIZING : BORDER-BOX */
/*html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }*/

/***********************************************************/
/*(for sticky footer)*/
/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}*/

/*.crossfade {
position: relative;
height: 200px;
width: 200px;
margin: 0 auto;
}

.crossfade img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.crossfade img.top:hover {
  opacity: 0;
}*/

/*div {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.hidden {
  display: none;
}*/


*{
    margin: 0;
    padding: 0;
}

h3,p{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

h3{
    font-size: 24px;
    font-weight: 300;
}

p{
    font-size: 16px;
}

.certificates{
    font-size: 14px;
}

.content-wrapper{
    width: 1120px;
    margin: 200px auto;
}

.row{
    width: 100%;
    position: relative;
    font-size: 0;
    height: 260px;
}

.column-1-1,.column-1-3,.column-2-3{
    float: left;
    min-height: 1px;
}

.column-1-1{
    width: 100%;
}

.column-1-3{
    width: 33.333%;
}

.column-2-3{
    width: 66.666%;
}

.text-holder{
    display: none;
}

.image-holder{
    position: relative;
    margin: 0 auto;
    width: 260px;
    height: 260px;
}

.bowl,.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 260px;
}

.bowl{
    z-index: 0;
}

.circle{
    z-index: 2;
}

.front{
    z-index: 1;
}

.widget{
    padding: 30px 60px;
    position: relative;
    top: 0;
}

/**************** INITIAL CSS *************/
/*.bowl {
  z-index: 0;
  width: 270px;
  max-height: 300px;
}*/

/*.front {
  z-index: 1;
}*/

/*.image-holder {
  width: 270px;
  max-height: 300px;
}*/